.cabecalho{
    background-color: blue;
    color: white;
    padding: 20px;
    text-align: center;
}
h1,h2{
    font-family: 'Times New Roman', Times, serif;
}
nav ul{
    list-style: none;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
#container{
    padding: 20px;
}
#conteudo{
    line-height: 1.5;
}
form{
    background-color: grey;
    border: 1px;
    padding: 10px;
}